{% extends "layout.html" %}

{% block content %}


<form action="/" method="GET" class="mt-5">
    <div class="mb-3">
        <input type="hidden" name="action" value="search">
        <label for="searchGit" class="form-label">Wpisz organizację z github</label>
        <input type="text" name="github"  class="form-control" id="searchGit" aria-describedby="emailHelp">
    </div>

<!--    <div class="form-check">-->
<!--        <div class="mb-2">Sortowanie: </div>-->
<!--        <input class="form-check-input" type="radio" name="sort" value="nameAsc" id="flexRadioDefault1" checked>-->
<!--        <label class="form-check-label" for="flexRadioDefault1">-->
<!--            Nazwa: Rosnąco-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="sort" value="nameDesc" id="flexRadioDefault2">-->
<!--        <label class="form-check-label" for="flexRadioDefault2">-->
<!--            Nazwa: Malejąco-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="sort" value="contrAsc" id="flexRadioDefault3">-->
<!--        <label class="form-check-label" for="flexRadioDefault3">-->
<!--            Kontrybutorzy: Rosnąco-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="sort" value="contrDesc" id="flexRadioDefault4">-->
<!--        <label class="form-check-label" for="flexRadioDefault4">-->
<!--            Kontrybutorzy: Malejąco-->
<!--        </label>-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary mt-4">Pokaż repozytoria</button>
</form>

{% endblock content %}
